*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appHeader{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userListContainer{
  width: 100vw;
  min-height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.userCard{
  width: 90vw;
  min-height: 15vh;
  border: 1px solid gray;
  font-size: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #1a1a1a;
  transition: all ease-in-out 0.25s
}
.userCard h2{
  flex: 0.5;
}
.userCard:hover{
  cursor: pointer;
  box-shadow: 0px 0px 7px #646cff;
}
.profileHeader{
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profileInfo{
  width: 85vw;
  min-height: 20vh;
  border: 2px solid gray;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
 
.postContainer{
  width: 100vw;
  min-height: 200vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
 
.postCard{
  cursor: pointer;
  width: 30vw;
  min-height: 40vh;
  border: 2px solid gray;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #1a1a1a;
  transition: all ease-in-out 0.25s
}
.postCard:hover{
  box-shadow: 0px 0px 7px #646cff;
}
.postCard h2{
  text-align: center;
  font-size: 20px;
}
.postCard p{
  text-align: center;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .appHeader{
    font-size: 14px;
  }
  .profileHeader{
    height: 30vh;
    flex-direction: column;
  }
  .postContainer{
    flex-direction: column;
    gap: 20px;
  }
  .postCard{
    width: 60vw;
  }
  .profileInfo{
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .appHeader{
    font-size: 12px;
  }
  .profileHeader{
    height: 30vh;
    flex-direction: column;
  }
  .postContainer{
    
  }
  .postCard{
    width: 80vw;
  }
  .profileInfo{
    flex-direction: column;
    text-align: center;
  }
}